# my_flask_app/.gitignore

venv/
.env

instance/
*.sqlite3

__pycache__/
*.pyc

.DS_Store
.idea/
*.log

*.db

create_master_admin_column.py
migrate_add_reports_table.py
create_master_admin.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
